<html>
	<!-- Use CSS -->
	<head>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/design.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/jquery-ui.min.css') }}">
		<script src="{{ url_for('static',filename='js/laydate.js') }}"></script>
	    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
	    <script src="{{ url_for('static',filename='js/jquery-ui.js') }}"></script>
	    <script src="{{ url_for('static',filename='js/myJS.js') }}"></script>
		{{ js_resources|safe }}
        {{ css_resources|safe }}
		{{ div|safe }}
		<title>{{ sql }}</title>
	</head>

    <body>
		<div id="fixedheader">
			<div id="wrap_header">
				<a href="/">
					<div class='logo'>
						<img class="logo_pic" src="/static/logo.png">
						<div class="verticalLine">database</div>
						<div class="color">tools</div>
					</div>
				</a>
				<div id="topmenu">
					<ul>
						<li><a href="#data"><img src="static/i_database.png" class='icon_im'><br>Database</a></li>
			  			<li><a href="#stat"><img src="static/i_statistics.png" class='icon_im'><br>Statistics</a></li>
			  			<li><a href="#"><img src="static/i_download.png" class='icon_im'><br>Download</a></li>
						<li><a href="#"><img src="static/i_ftp.png" class='icon_im'><br>FTP access</a></li>
						<li><a href="#"><img src="static/i_home.png" class='icon_im'><br>Home</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id = "wrapper_body">
			<a href="/test.html"><img src="{{ url_for('static',filename='galaxy.png') }}" style="width: 50%;height: 60%;" /></a>
		</div>
		<div class="fixedfooter"><p>© The University of Sheffield</p></div>
    </body>
</html>