<html>
    <!-- Use CSS -->
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/design.css') }}">
    </head>

    <body>

        <!-- <div id="fixedheader">
            <div id="wrap_header">
                <a href="/">
                    <div class='logo'>
                        <img class="logo_pic" src="/static/logos/ssc.png">
                    </div>
                </a>
            </div>
        </div> -->

        <div class="welcome_header">
            <div><h1>Sheffield Solar Catalogue</h1><br></div>
            <div><h2>The project SSC is a real-time image<br>
                                     recognition tool and database<br>
                                     for analysing solar features.</h2></div><br><br>
            <div>
                <a href="/static/docs/build/html/start.html"><h3>Documentation</h3> </a>
                <wbr>
                <a href="/test.html"> <h3>Get Started</h3></a>
            </div>
            <br>
    
        </div>

         <div class="welcome_index">   

            <h6>Community</h6>
            <table>
                <tr>
                    <th><a href="#S1"><img class="welcome_icon" src="/static/icons/project.png"></a><br>Project</th>
                    <th><a href="#S2"><img class="welcome_icon" src="/static/icons/support.png"></a><br>Support</th>
                    <th><a href="#S3"><img class="welcome_icon" src="/static/icons/contact.png"></a><br>Contact</th>
                    <th><a href="#S4"><img class="welcome_icon" src="/static/icons/about.png"></a><br>About</th>
                    <th><a href="https://github.com/gyengen/SheffieldSolarCatalog"><img class="welcome_icon" src="/static/icons/github.png"></a><br>Github</th>
                </tr>
            </table>

            <span class="anchor" id="S1"></span>
            <div><h4>Project</h4>

                <div class="paragraph">

                    <p>SSC is an open-source and free software for solar physics. The project provides a real-time comprehensive data analysis environment that allows researchers within the field of solar physics to carry out their tasks with the minimal effort. At this stage of development, the project generates sunspot data based on SDO observations. The program is fully automated and real-time. Later, the database will be extended by other solar features, such as pores, faculea or coronal hole. Follow the link <a href="/">Get Started</a> to open the database or click on the <a href="/">Documentation</a> to read the detailed descrition of the applied methodology.</p>

                    <p>SSC is written using the Python programming language and is build upon the scientific Python environment which includes several core packages such as NumPy, SciPy, Matplotlib, Pandas, Bokeh and Sunpy. The project SSC fully acknowledges these softwares and kindly ask You to cite them appropriately.</p>

                </div>
            </div> 

            <span class="anchor" id="S2"></span>
            <div><h4>Support</h4>

                <div class="paragraph">

                     <p>We would like to ask you to acknowledge SSC appropriately in any publication or presentation, if you use the results, or a piece of code of the project. We kindly ask you to add the following sentence in your conclusion or acknowledgements part of your paper: </p>

                     <p><h5>"This research makes use of SSC, an open-source and free solar feature database written in Python language (citation)"</h5></p>

                     <p>The citation is: Gyenge et al. ?, 2018 <a href="">[ADS]</a>, <a href="">[BibTex]</a></p>

                     <p>For a poster, talks, or project websites, please include the SSC logo on the title, conclusion slide, or about page. For websites please link the image to <.address.>. Other versions of the logo are available in the SSC repository. For a Python package or project, please make a reference to SunPy somewhere in your readme or website and please get in touch. Thank you, in advance, for your support.</p>

                     <p>This project is supported by the following orginisations: </p>

                     <div class="welcome_logos">
                         <a href="https://www.sheffield.ac.uk"><img class="welcome_logo" src="/static/logos/tuos.png"></a>
                         <a href="http://csfk.mta.hu"><img class="welcome_logo" src="/static/logos/csfk.png"></a>
                         <a href="https://www.elte.hu/en/"><img class="welcome_logo" src="/static/logos/elte.png"></a>
                         <a href="https://www.sheffield.ac.uk/cics/home"><img class="welcome_logo" src="/static/logos/cics.png"></a>
                         <a href="https://www.sheffield.ac.uk/cics/research"><img class="welcome_logo" src="/static/logos/rit.png"></a>
                         <a href="http://sunpy.org"><img class="welcome_logo" src="/static/logos/sunpy.png"></a>
                         <a href="https://bokeh.pydata.org/en/latest/"><img class="welcome_logo" src="/static/logos/bokeh.png"></a>
                     </div>
                </div>
            </div>

            <span class="anchor" id="S3"></span>
            <div><h4>Contact</h4>

                <div class="paragraph">

                     <p>If you are interested in developing SSC or you would like to make some comments, get involved! There are a number of ways to make your voice heard and we would love to hear from you. If you run into unexpected behavior or run into a bug we urge you to please report it. All bugs are kept track of on our issue tracker. You can add a bug report there. If you are interested in contributing fixes, code or documentation to SunPy please checkout our newcomers guide. For technical details, web service questions, giving comments and suggestions please write to: <h5>n.g.gyenge [at] sheffield.ac.uk</h5></p>

                </div>

            </div> 

            <span class="anchor" id="S4"></span>
            <div><h4>About</h4>

                <div class="paragraph">

                    <table>
                        <tr>

                            <th>
                                <a href="/">
                                    <img class="welcome_photo_p" src="/static/photo/gyn.png">
                                </a>
                                <br>
                                <div class="welcome_photo">
                                    Lead Developer
                                    <br>
                                    Norbert Gyenge
                                </div>
                            </th>


                            <th>
                                <a href="/">
                                    <img class="welcome_photo_p" src="/static/photo/jl.png">
                                </a>
                                <br>
                                <div class="welcome_photo">
                                    Programmer
                                    <br>
                                    Jiajia Liu
                                </div>
                            </th>

                            <th>
                                <a href="/">
                                    <img class="welcome_photo_p" src="/static/photo/Unknown.png">
                                </a>
                                <br>
                                <div class="welcome_photo">
                                    Programmer
                                    <br>
                                    Vinh Vu
                                </div>
                            </th>

                            <th>
                                <a href="/">
                                    <img class="welcome_photo_p" src="/static/photo/kevin.png">
                                </a>
                                <br>
                                <div class="welcome_photo">
                                    Web design
                                    <br>
                                    Haidong Yu
                                </div>
                            </th>

                            <th>
                                <a href="http://robertus.staff.shef.ac.uk">
                                    <img class="welcome_photo_p" src="/static/photo/er.png">
                                </a>
                                <br>
                                <div class="welcome_photo">
                                    Project Manager
                                    <br>
                                    Robert Erdelyi
                                </div>
                            </th>

                        </tr>
                    </table>
                </div>
            </div> 

            <div class="space"></div>


            <div class="fixedfooter"><p>© The University of Sheffield</p></div>
        
        </div>
    

</body>

    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static',filename='js/myJS.js') }}"></script>
    <script>
        $(document).ready(function(){
            $("#txt1").fadeIn(1000);
            $("#txt2").fadeIn(2000);
        });

    </script>



</html>