<html>
	<!-- Use CSS -->
	<head>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/design.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/jquery-ui.min.css') }}">
		<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" type="text/css">
		<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
		<script src="{{ url_for('static',filename='js/laydate.js') }}"></script>
	    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
	    <script src="{{ url_for('static',filename='js/jquery-ui.js') }}"></script>
	    <script src="{{ url_for('static',filename='js/myJS.js') }}"></script>
	    {{ script|safe }}
		{{ js_resources|safe }}
        {{ css_resources|safe }}
		<title>{{ sql }}</title>
	</head>

    <body>
		<div id="fixedheader">
			<div id="wrap_header">
				<a href="/">
					<div class='logo'>
						<img class="logo_pic" src="/static/logo.png">
						<div class="verticalLine">database</div>
						<div class="color">tools</div>
					</div>
				</a>

			</div>
		</div>
		<div id="topmenu">
			<ul>
				<li id="reset_button"><a><img src="static/i_reset.png" class='icon_im'><br>Reset</a></li>
				<li id="database_button"><a><img src="static/i_database.png" class='icon_im'><br>Query</a></li>
	  			<li id="statistics_button"><a><img src="static/i_statistics.png" class='icon_im'><br>Create Plot</a></li>
	  			<li><a id="download_button"><img src="static/i_download.png" class='icon_im'><br>Download</a>
	  				<ul>
	  					<li>
	  						<button class="download_options" type="button" onclick="downloadFile('ssc_sql.db','{{ url_for('static',filename='database/sql/ssc_sql.db') }}')">SQLlite</button>
	  					</li>
	  					<li>
	  						<button class="download_options" type="button" onclick="createAndDownloadFile('{{ sunspot_type+'_'+sd+'_'+ed }}.h5',{{ data }})">HDF5</button>
	  					</li>
	  					<li>
	  						<button class="download_options" type="button" onclick="createAndDownloadFile('{{ sunspot_type+'_'+sd+'_'+ed }}.csv',{{ data }})">CSV</button>
	  					</li>
	  					<li>
	  						<button class="download_options" type="button" onclick="createAndDownloadFile('{{ sunspot_type+'_'+sd+'_'+ed }}.txt',{{ data }})">TXT</button>
	  					</li>
	  				</ul>
	  			</li>
				<li><a href=""><img src="static/i_ftp.png" class='icon_im'><br>FTP access</a></li>
				<li id="help_button"><a href=""><img src="static/i_help.png" class='icon_im'><br>Help</a></li>
				<li><a href=""><img src="static/i_home.png" class='icon_im'><br>Home</a></li>

			</ul>
		</div>

    	<div id = "wrapper_body">
    		<!-- SQLite query info -->	
	    	<div id="wrapper_sql_info">
				Query information<br>
				Number of rows: {{ info[0] }} | 
				Number of columns: {{ info[1] }} | 
				Number of active regions: {{ info[0] }} | 
				Timespan: {{ info[0] }} | 
			</div>
			<!-- SQLite query info -->
		    <!-- Menu -->
		    <div id = "side_menu">
		    	
		    	<div class = "wrapper_menu">
		    		<!-- Filter -->
			    	<div id = "filter_menu">
			    		<form method="POST">
							<table>
								<tr>
									<td>
										<p>&nbspFrom:&nbsp</p>
									</td>
									<td>
										<input type="text" name="start_date" id="sd" style="text-align: center;width: 100px" value="{{ sd }}">
									</td>
									<td>
										<input type="text" name="start_time" id="st" style="text-align: center;width: 100px" value="{{ st }}">
									</td>
								</tr>
								
								<tr>
									<td>
										<p>&nbsp To &nbsp</p>
									</td>
									<td>
										<input type="text" name="end_date" id="ed" style="text-align: center;width: 100px" value="{{ ed }}">
									</td>
									<td>
										<input type="text" name="end_time" id="et" style="text-align: center;width: 100px" value="{{ et }}">
									</td>
								</tr>
								<tr>
									<td>
										<p>Type:&nbsp</p>
									</td>
									<td>
										<select class="sunspot" name="sunspot_type" id="sunspot_type" onchange="changeType();">
											{%if sunspot_type == 'magnetogram_sunspot' %}
											<option value="magnetogram" selected="selected">Magnetogram</option>
											<option value="continuum">Continuum</option>
											{%elif sunspot_type == 'continuum_sunspot' %}
											<option value="magnetogram">Magnetogram</option>
											<option value="continuum" selected="selected">Continuum</option>
											{% else %}
											<option value="magnetogram">Magnetogram</option>
											<option value="continuum">Continuum</option>
											{% endif %} 
										</select>
									</td>
								</tr>
								<tr>
									<td>
										<p>Sorted by: &nbsp</p>
									</td>
									<td>
										<select name="order_by">
											{%for name in header%}
											{%if name == order%}
												<option value="{{ name }}" selected="selected"> {{ name }} </option>
											{%else%}
												<option value="{{ name }}"> {{ name }} </option>
											{% endif %}
											{% endfor %}
										</select>
									</td>
								</tr>
							</table>
							<table width="100%">
								{% for num in range(0,5,2) %}
								<tr>
									<td>
										{{ header1[num] }} 
									</td>
									<td>
										{% if header1[num] in header %}
												<input type="checkbox" name="attributes" value="{{ header1[num] }}" checked="checked" />
											{% else %}
												<input type="checkbox" name="attributes" value="{{ header1[num] }}"/>
											{% endif %}
									</td>
									<td>
										{{ header1[num+1] }} 
									</td>
									<td>
										{% if header1[num+1] in header %}
												<input type="checkbox" name="attributes" value="{{ header1[num+1] }}" checked="checked" />
											{% else %}
												<input type="checkbox" name="attributes" value="{{ header1[num+1] }}"/>
											{% endif %}
									</td>
								</tr>
								{% endfor %}		
							</table>

							<div id="filter_menu_showmore">
								<table width="100%">
									{% for num in range(0,9,2) %}
									<tr>
										<td>
											{{ header2[num] }} 
										</td>
										<td>
											{% if header2[num] in header %}
													<input type="checkbox" name="attributes" value="{{ header2[num] }}" checked="checked" />
												{% else %}
													<input type="checkbox" name="attributes" value="{{ header2[num] }}"/>
												{% endif %}
										</td>
										<td>
											{{ header2[num+1] }} 
										</td>
										<td>
											{% if header2[num+1] in header %}
													<input type="checkbox" name="attributes" value="{{ header2[num+1] }}" checked="checked" />
												{% else %}
													<input type="checkbox" name="attributes" value="{{ header2[num+1] }}"/>
												{% endif %}
										</td>
									</tr>
									{% endfor %}

									{% for num in range(0,5,2) %}
									<tr>
										<td>
											{{ header2_1[num] }} 
										</td>
										<td>
											{% if header2_1[num] in header %}
												<input type="checkbox" name="attributes" class="magnetogram" value="{{ header2_1[num] }}" checked="checked" />
											{% else %}
												<input type="checkbox" name="attributes" class="magnetogram" value="{{ header2_1[num] }}"/>
											{% endif %}
										</td>
										{% if (5//2 == (5-1)//2) and (num != 4) %}
										<td>
											{{ header2_1[num+1] }} 
										</td>
										<td>
											{% if header2_1[num+1] in header %}
												<input type="checkbox" name="attributes" class="magnetogram" value="{{ header2_1[num+1] }}" checked="checked" />
											{% else %}
												<input type="checkbox" name="attributes" class="magnetogram" value="{{ header2_1[num+1] }}"/>
											{% endif %}
										</td>
										{% else %}
										<td></td>
										<td></td>
										{% endif %}
									</tr>
									{% endfor %}

									{% for num in range(0,5,2) %}
									<tr>
										<td>
											{{ header2_2[num] }} 
										</td>
										<td>
											{% if header2_2[num] in header %}
												<input type="checkbox" name="attributes" class="continuum" value="{{ header2_2[num] }}" checked="checked" disabled="disabled" />
											{% else %}
												<input type="checkbox" name="attributes" class="continuum" value="{{ header2_2[num] }}" disabled="disabled"/>
											{% endif %}
										</td>
										{% if (5//2 == (5-1)//2) and (num != 4) %}
										<td>
											{{ header2_2[num+1] }} 
										</td>
										<td>
											{% if header2_2[num+1] in header %}
												<input type="checkbox" name="attributes" class="continuum" value="{{ header2_2[num+1] }}" checked="checked" disabled="disabled" />
											{% else %}
												<input type="checkbox" name="attributes" class="continuum" value="{{ header2_2[num+1] }}" disabled="disabled" />
											{% endif %}
										</td>
										{% else %}
										<td></td>
										<td></td>
										{% endif %}
									</tr>
									{% endfor %}
									<!-- <tr>
										<td>
											<input type=submit value="Execute">		
										</td>
									</tr> -->						
								</table>
								<button type="button" onclick="hide()" id="hide_button">Hide</button>
							</div>
							<button type="button" onclick="showmore()" id="show_button">Show More</button>

							<table width="100%" style="margin-top: 5px;">
								<tr>
									<td>
										<button type="button" id="selectall_button">Select All</button>	
									</td>
									<td>
										<button type="button" id="clearall_button">Clear All</button>	
									</td>
									<td>
										<input type=submit value="Execute" id="execute_button">	
									</td>
								</tr>
							</table>
						</form>
					</div>
<!-- 					<hr>
			    	<div class = "wrapper_menu_1">
				    	<table>
				 			<tr> <th>Quick query</th> </tr>
				  			<tr><td>Date</td></tr>
				  			<tr><td>Dataset</td></tr>
				    		<tr><td>Active Region</td></tr>
						</table>
			    	</div> -->
			    	<hr>
			    	<div class = "wrapper_menu_2">
				    	<form method="post">
				    	<table name="test" id="test">
				    	 	<tr><th>Create Plot</th> </tr>
				  			<tr><td>Histogram</td></tr>
				  			<tr><td>Scatter plot</td></tr>
				    		<tr><td>Line plot</td></tr>
				  			<tr><td>2d Scatter</td></tr>
				  			<tr>
								<td> x: </td>
								<td>
									<select name="x">
										{%for name in header%}
										{%if name == x%}
											<option value="{{ name }}" selected="selected"> {{ name }} </option>
										{%else%}
											<option value="{{ name }}"> {{ name }} </option>
										{% endif %}
										{% endfor %}
									</select>
								</td>	
							</tr>
							<tr>
								<td> y: </td>
								<td>
									<select name="y">
										{%for name in header%}
										{%if name == y%}
											<option value="{{ name }}" selected="selected"> {{ name }} </option>
										{%else%}
											<option value="{{ name }}"> {{ name }} </option>
										{% endif %}
										{% endfor %}
									</select>
								</td>	
							</tr>
							<tr>
								<td>
									<input id="static_execute" type="submit" value="Execute">
								</td>
							</tr>
				    		<tr><td>3d Scatter</td></tr>
						</table>
						</form>
			    	</div>
<!-- 			    	<div class = "wrapper_menu_3">
				    	<table>
				    	 	<tr> <th>Statistics</th> </tr>
				  			<tr><td>Basic</td></tr>
				  			<tr><td>Auto-correlation</td></tr>
				  			<tr><td>Cross-correlation</td></tr>
				  			<tr><td>Furier-analysis</td></tr>
						</table>
			    	</div> -->
	    		</div>
	    	</div>
	    	<!-- Menu -->

    		<!-- SQLite query -->	
	    	<!-- <div id="wrapper_sql">	
				
			</div> -->
			<!-- SQLite query -->
<!-- 			<div id="wrapper_menu_bar">
				<div class="wrapper_menu_button" id="reset_button">
					<p>Reset</p>
				</div>
				<div class="wrapper_menu_button" id="help_button">
					<p>Help</p>
				</div>
			</div> -->
    		<!-- AR image -->	
	    	<div id="wrapper_image">
		    	<!-- <iframe id="image" src="/static/example.png" frameborder="0" scrolling="yes" width="100%" height="438px" name="imgbox" id="imgbox"></iframe> -->
		    	{%if sunspot_type == "magnetogram_sunspot"%}
		    	<img id="image" src="/static/example.png"/">
		    	{%elif sunspot_type == 'continuum_sunspot' %}
		    	<img id="image" src="/static/example2.png"/">
		    	{%else%}
		    	<img id="image" src="/static/example.png"/">
		    	{%endif%}
			</div>
			
			<div id="bokeh_plot">
				<div id="bokeh_plot_button">
					<div id="draggable_control_button"></div>
					<div id="figure_close_button"></div>
				</div>

				<div id="figure">{{ div|safe }}</div>
			</div>
			
			<!-- {{ script }} -->
			<!-- AR image -->

			<div id="wrapper_table_block">
				<!-- block button -->
				
				<!-- table -->
				<div id="wrapper_table_info">
			    	<!-- SQLite query table -->	
					<div id = "wrapper_table">						
						<table>
							<thead>
								<tr>
									{%for name in header%}
										<th> {{ name }} </th>
									{% endfor %}
								</tr>
							</thead>
							<tbody>
								{%for row in table%}
								    <tr>
									{% for item in range(columns) %}
									{% if item == 4 %}
								    	<td><button type="button" onclick="changeImage({{row[item]}})">{{ row[item] }}</button></td>
									{% else %}
										<td>{{ row[item] }}</td>
									{% endif %}
									{% endfor %}
								    </tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<!-- SQLite query table -->
				</div>
			</div>
	    	<!-- Plot -->
<!-- 	   		<div id="wrapper_plot">	
	    		{{ script|safe }}
	    	</div> -->
	    	<!-- Plot -->
		</div>
		<a href="/test1.html">lemon</a>
		<div class="fixedfooter"><p>© The University of Sheffield</p></div>
    </body>
    <script>
    	laydate.render({
		    elem: '#sd'
		    ,lang: 'en'
		  });

		    laydate.render({
		    elem: '#ed'
		    ,lang: 'en'
		  });

		  laydate.render({ 
		    elem: '#st'
		    ,lang:'en'
		    ,type: 'time'
		  });

		  laydate.render({
		    elem: '#et'
		    ,lang:'en'
		    ,type: 'time'
		  });
    </script>
    <script>
    	$(function(){
    		if ({{block_status[0]}}==1) {
	    		$('#database_button').addClass('menu-open');
			    $('#side_menu').css('left','0');

			    $('#statistics_button').addClass('table-close');
			    $('#wrapper_table_block').css('top','auto');
			    $('#wrapper_table_block').css('bottom','0');
			    if ({{block_status[1]}} <= 7 ) {
			    	$('#wrapper_table_block').css('width','28%');
			    }
			    else if({{block_status[1]}} >= 17){
			    	$('#wrapper_table_block').css('width','68%');
			    }
			    else{
			    	var t = 4 * {{block_status[1]}} + '%';
			    	$('#wrapper_table_block').css('width',t);
			    }
		    }
		});
    </script>
    <script>
    	$(function(){
    		if ({{plot_status}}==1) {
    			$('#bokeh_plot').css('display','block');
    		}
    	});
    </script>
</html>