<html>
    <!-- Use CSS -->
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/design.css') }}">
        <title>SSC - Welcome</title>
        {% if not ('cookiesChecked' in request.cookies)%}
          <script>
             $(window).on('load',function(){
                $('#cookie-modal').modal('show');
                document.cookie ="cookiesChecked=True"
             });            
          </script>
        {% endif %}
    </head>

    <body>

        <div class="welcome_header">

        <a href="https://github.com/gyengen/SheffieldSolarCatalog" class="github-corner" aria-label="View source on Github">
            <svg width="80" height="80" viewBox="0 0 250 250" style="fill:#fff; color:#151513; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true">
                <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
                <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
                <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path>
                </svg>
            </a>
            <style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
            </style>

            <div><h1>Sheffield Solar Catalogue</h1><br></div>
            <div><h2>The project SSC is a real-time image<br>
                                     recognition tool and database<br>
                                     for analysing solar features.</h2></div><br><br>
            <div>
                <!– <a href="/static/docs/build/html/start.html"><h3>Documentation</h3> </a> ->
                <wbr>
                <a href="/workstation.html"> <h3>Get Started</h3></a>
            </div>
            <br>
    
        </div>

        <div class="welcome_index">   

            <span class="anchor" id="S1"></span>

                <div class="paragraph">

                    <div id="Project">
                        <div><h4>Project</h4>

			    <div align="center"><p><strong>Project Under Development</strong></p>
			  
				<iframe width="560" height="315" src="https://www.youtube.com/embed/mQsCY67zb_4?modestbranding=1&rel=0&controls=0&showinfo=0" frameborder="0" ></iframe></div>

                            <p>SSC is an open-source and free software for solar physics. The project provides a real-time comprehensive data analysis environment that allows researchers within the field of solar physics to carry out their tasks with the minimal effort. At this stage of development, the project generates sunspot data based on SDO observations. The program is fully automated and real-time. Later, the database will be extended by other solar features, such as pores, faculea or coronal hole. Follow the link <a href="/">Get Started</a> to open the database or click on the <a href="/">Documentation</a> to read the detailed descrition of the applied methodology.</p>

                            <p>SSC is written using the Python programming language and is build upon the scientific Python environment which includes several core packages such as NumPy, SciPy, Matplotlib, Pandas, Bokeh and Sunpy. The project SSC fully acknowledges these softwares and kindly ask You to cite them appropriately.</p>
                        </div>
                    </div>






                    <div id="Support">
                        <div><h4>Support</h4>
                             <!--  <p>We would like to ask you to acknowledge SSC appropriately in any publication or presentation, if you use the results, or a piece of code of the project. We kindly ask you to add the following sentence in your conclusion or acknowledgements part of your paper: </p> 

                             <p><h5>"This research makes use of SSC, an open-source and free solar feature database written in Python language (citation)"</h5></p>

                             <p>The citation is: Gyenge et al. ?, 2018 <a href="">[ADS]</a>, <a href="">[BibTex]</a></p>

                             <p>For a poster, talks, or project websites, please include the SSC logo on the title, conclusion slide, or about page. For websites please link the image to <.address.>. Other versions of the logo are available in the SSC repository. For a Python package or project, please make a reference to SSC somewhere in your readme or website and please get in touch. Thank you, in advance, for your support.</p> -->

                             <p>The authors thank the Science and Technology Facilities Council (STFC, grant numbers ST/M000826/1, ST/L006316/1) for the support to conduct this research. We also acknowledge the support received from the following orginisations: </p>
                             <div class="welcome_logos">
                                 <a href="https://www.sheffield.ac.uk"><img class="welcome_logo" src="/static/logos/tuos.png"></a>
                                 <a href="http://csfk.mta.hu"><img class="welcome_logo" src="/static/logos/csfk.png"></a>
                                 <a href="https://www.elte.hu/en/"><img class="welcome_logo" src="/static/logos/elte.png"></a>
                                 <a href="https://www.sheffield.ac.uk/cics/home"><img class="welcome_logo" src="/static/logos/cics.png"></a>
                                 <a href="https://www.sheffield.ac.uk/cics/research"><img class="welcome_logo" src="/static/logos/RIT.png"></a>
                                 <a href="http://sunpy.org"><img class="welcome_logo" src="/static/logos/sunpy.png"></a>
                                 <a href="https://bokeh.pydata.org/en/latest/"><img class="welcome_logo" src="/static/logos/bokeh.png"></a>
                             </div>
                         </div>
                    </div> 


                    <div id="Contact">
                        <div><h4>Contact</h4>
                            <p>If you are interested in developing SSC or you would like to make some comments, get involved! There are a number of ways to make your voice heard and we would love to hear from you. If you run into unexpected behavior or run into a bug we urge you to please report it. All bugs are kept track of on our issue tracker. You can add a bug report there. If you are interested in contributing fixes, code or documentation to SSC please checkout our newcomers guide. For technical details, web service questions, giving comments and suggestions please write to: <h5>n.g.gyenge [at] sheffield.ac.uk</h5></p>
                        </div>
                    </div>

                    <div id="TechnicalInfo">
                        <div><h4>Technical Information</h4>
                            <p>We use cookies to provide you with essential features of our site including:</p>
	                    <li>Remembering the details of queries you have put in</li>
	                    <li>Remembering what AR/full disk you have selected to view</li>
	                    <li>Remembering what plots you have created</li>
	                    <li>Displaying extrapolation and full disk data</li>
                            <p>Disabling these cookies will make it so you are unable to use any of these features.

                            <p>Our site also contains third party cookies such as ones from youtube to allow us to embed youtube videos.</p>

                            <p>You can manage browser cookies through your browser settings. The 'Help' feature on most browsers will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie, how to disable cookies, and when cookies will expire. If you disable all cookies on your browser, neither we nor third parties will transfer cookies to your browser.</p>
                        </div>
                    </div>

                    <div id="About">
                        <div><h4>About</h4>
                            <table>
                                <tr>

                                    <th>
                                        <a href="/">
                                            <img class="welcome_photo_p" src="/static/photo/gyn.png">
                                        </a>
                                        <br>
                                        <div class="welcome_photo">
                                            Lead Developer
                                            <br>
                                            Norbert Gyenge
                                        </div>
                                    </th>


                                    <th>
                                        <a href="/">
                                            <img class="welcome_photo_p" src="/static/photo/jl.png">
                                        </a>
                                        <br>
                                        <div class="welcome_photo">
                                            Programmer
                                            <br>
                                            Jiajia Liu
                                        </div>
                                    </th>

                                    <th>
                                        <a href="/">
                                            <img class="welcome_photo_p" src="/static/photo/vinh.jpg">
                                        </a>
                                        <br>
                                        <div class="welcome_photo">
                                            Programmer
                                            <br>
                                            Vinh Vu
                                        </div>
                                    </th>

                                    <th>
                                        <a href="/">
                                            <img class="welcome_photo_p" src="/static/photo/CZack.jpg">
                                        </a>
                                        <br>
                                        <div class="welcome_photo">
                                            Programmer
                                            <br>
                                            Colin Zack
                                        </div>
                                    </th>

                                    <th>
                                        <a href="/">
                                            <img class="welcome_photo_p" src="/static/photo/HaidongYu.png">
                                        </a>
                                        <br>
                                        <div class="welcome_photo">
                                            Web design
                                            <br>
                                            Haidong Yu
                                        </div>
                                    </th>

                                    <th>
                                        <a href="http://robertus.staff.shef.ac.uk">
                                            <img class="welcome_photo_p" src="/static/photo/er.png">
                                        </a>
                                        <br>
                                        <div class="welcome_photo">
                                            Project Manager
                                            <br>
                                            Robert Erdelyi
                                        </div>
                                    </th>

                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
        </div>
    

</body>

    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static',filename='js/myJS.js') }}"></script>
    <script>
        $(document).ready(function(){
            $("#txt1").fadeIn(1000);
            $("#txt2").fadeIn(2000);
        });

    </script>


//<script>
//    var password = prompt("The website is only open for developers. Please visit us later.", "password");
//    if (password === "1234")
//        {
            
//        }
//        else
//        {
//            window.location.replace("", "_blank");
//        };
//</script>


<script>
// Get the element with id="defaultOpen" and click on it
//document.getElementById("defaultOpen").click();
</script>


</html>
