<html>
   <!-- Use CSS -->
   <head>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/design.css') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/jquery-ui.min.css') }}">
      <link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.1.min.css" type="text/css">
      <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.1.min.js" async></script>
      <script src="{{ url_for('static',filename='js/laydate.js') }}" async></script>
      <script src="{{ url_for('static',filename='js/jquery-1.12.4.js') }}"></script>
      <script src="{{ url_for('static',filename='js/jquery-ui.js') }}" async></script>
      <script src="{{ url_for('static',filename='js/myJS.js') }}" async></script>
      <script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js" async></script>
      <script type="text/javascript"> $(window).load(function() {$('.loader').fadeOut('fast');}); </script>
      <script type="text/javascript"> $(document).ready(function () {$('div.hidden').fadeIn(1).removeClass('hidden');});</script>

      {%- if not ('cookiesChecked' in request.cookies)%}
         <script>
            $(window).on('load',function(){
               $('#cookie-modal').modal('show');
               document.cookie ="cookiesChecked=True"
            });            
         </script>
      {%- endif %}

      {%- if session['error_message'] != '' %}
         <script>
            $(window).on('load',function(){
               $('#error-modal').modal('show');
            });
         </script>
      {%- endif %}

      <title>SSC - Workstation</title>
   </head>

   <body id = "wrapper_body">

      <div class = "loader">
         <div class = "blob-r"></div>
         <div class = "blob-c"></div>
         <div class = "blob-l"></div>
         <div class = "blob-m">Please wait.</div>
      </div>

      <div id="fixedheader">
         <div id="wrap_header">
               <div class='logo'>
                  <a href="https://ssc.shef.ac.uk/">
                     <img class="logo_pic" src="/static/logos/ssc.png" />
                  </a>
               </div>
         </div>
      </div>

      <div id = "search">
         <input type="text" id="text" value="Search Documentation, type keyword or variable name." onFocus="this.value=''" class="search_input"/>
         <input type="button" id="btn" value="Search" class="search_button"
		onClick="javascript: window.open('../static/docs/build/html/search.html?q=' + document.getElementById('text').value + 			'&check_keywords=yes&area=default');"/>
      </div>

      <div id="topmenu">
         <ul>

            <li id="database_button"><a><img src="static/icons/data.png" class='icon_im'><br>Query</a></li>

            <li id="plot_button"><a><img src="static/icons/plot.png" class='icon_im'><br>Plot</a></li>

            <li id="message_log_bar"><a><img src="static/icons/terminal.png" class='icon_im'><br>Console</a></li>

            <li><a id="download_button"
               <a href="" data-toggle="modal" data-target="#download-modal">
                  <img src="static/icons/download.png" class='icon_im'><br>Download
               </a>
            </li>

            <li id ='sftp'><a href="/SSC"><img src="static/icons/ftp.png" class='icon_im'><br>Files</a></li>

            <li id='help'>
               <a href="" data-toggle="modal" data-target="#help-modal">
                  <img src="static/icons/help.png" class='icon_im'><br>Help
               </a>
            </li>

            <li id='home'><a href="/"><img src="static/icons/home.png" class='icon_im'><br>Home</a></li>


         </ul>
      </div>

      <div class="hidden">

         <form method="POST">

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">

                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="myModalLabel">Set Values</h4>
                     </div>

                     <div class="modal-body">
                        <div id="type1_header">
                           <table cellpadding="5" style="font-size: 15">
                              <tr>

                                 <th></th>

                                 <th style="text-align: center;">Minimum</th>

                                 <th></th>

                                 <th style="text-align: center;">Maximum</th>

                              </tr>

                              {%- for i in range(5,21) %}
                                 <tr>

                                    <td>{{ session['header_all'][i] }}: </td>

                                    <td align="center">
                                       <input type="text"
                                              name="values_min"
                                              class="value_input"
                                              value="{{ session['values_min'][i - 5] }}">
                                    </td>

                                    <td>~</td>

                                    <td align="center">
                                       <input type="text"
                                              name="values_max"
                                              class="value_input"
                                              value="{{ session['values_max'][i - 5] }}">
                                    </td>

                                 </tr>
                              {%- endfor %}

                           </table>
                        </div>
                     </div>

                     <!-- data-dismiss="modal" -->
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="filter-clear">Clear</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                     </div>

                  </div><!-- /.modal-content -->
               </div><!-- /.modal -->
            </div>

            <!-- Help Modal-->
            <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="help-modal-label">Quick Guidance</h4>

                     </div>

                     <div class="modal-body">
                        <div id="type1_header">

                           <h5><b>Query:</b><br>
Query allows you to change the data you get from the database which by default is the last 1000 results. This data can be filtered in multiple ways: Time period that the data can come from, what wavelenght to return, how it is sorted, what data columns to return and clicking set values allows you to filter the returned columns.</h5>
                           <hr>
                           <h5><b>Plot:</b><br>
Plot allows you to create graphs from the queried data, it has four options with further customisation available for each. The four options are the:
<li>Bivarite histogram: which can be customised by choosing the two data columns to be used as well as the bin size.</li>
<li>Histogram: which can be customised by choosing the data column to be used, whether it should be normalised, what fit distribution to use, the color and the bin size.</li>
<li>Line plot:  which can be customised by choosing the data columns to be used and the color</li>
<li>Scatter plot:  which can be customised by choosing the data columns to be used, the color and the size of the markers.</li>
Once a plot has been created they will appear at the bottom of the page. They can be moved by dragging the bar at the top of the respective plot, removed by pressing the X in the top left or minimised by hitting the _ in the top left. The plots will also be layered in the order they were selected.</h5>
                           <hr>
                           <h5><b>Console:</b><br>
The console contains information about the current query as well as the last five lines from the engine log.</h5>
                           <hr>
                           <h5><b>Download:</b><br>
Download opens a modal that allows you to download the data in multiple formats (SQL, HDF5, CSV or TXT). They can also download any of the full disks and coresponding AR’s from the query on this page by clicking on the image of the thing to be downloaded. If the query returned multiple full disks then you can change the time period of the full disk to shown via the drop down. The AR’s can be downloaded as either PDF’s or PNG’s and you can switch between these using the related drop down.</h5>
                           <hr>
                           <h5><b>Files</b><br>
This allows you to search through the projects files, it displays all the subdirectories and files for the current directory as well as giving the option to go up a level. You can download the files by clicking on the button for the specific file.
                           <hr>
                           <h5><b>Extrapolation/full screen:</b><br>
The extraploation and full screen buttons at the top right corners of the AR and Full disk images will open a modal showing more information about the selected AR or Full disk.</h5>

                        </div>
                     </div>

                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>

                  </div><!-- /.modal-content -->
               </div><!-- /.modal -->
            </div>

            <!-- Cookie Modal-->
            <div class="modal fade" id="cookie-modal" tabindex="-1" role="dialog" aria-labelledby="cookie-modal-label" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="cookie-modal-label">Quick Guidance</h4>

                     </div>

                     <div class="modal-body">
                        <div id="type1_header">

                           <p>This site uses cookies</p>
                           <p>To see our cookie policy and how to disable them got to: https://ssc.shef.ac.uk/ and read the technical information section</p>

                        </div>
                     </div>

                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>

                  </div><!-- /.modal-content -->
               </div><!-- /.modal -->
            </div>

            <!-- Error Modal-->
            <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="error-modal-label" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="error-modal-label">An error occured!</h4>

                     </div>

                     <div class="modal-body">
                        <div id="type1_header">

                           {{ session['error_message']|safe }}

                        </div>
                     </div>

                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>

                  </div><!-- /.modal-content -->
               </div><!-- /.modal -->
            </div>

            <div class="modal fade" id="download-modal" tabindex="-1" role="dialog" aria-labelledby="download-modal-label" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="download-modal-label">Quick Guidance</h4>

                     </div>

                     <div class="modal-body">
                        <div id="type1_header">

                           <iframe style = "width:100%; height:100%;"src = "https://ssc.shef.ac.uk/download.html"></iframe>

                        </div>
                     </div>

                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>

                  </div><!-- /.modal-content -->
               </div><!-- /.modal -->
            </div>

	    <!-- Menu -->
            <div id = "side_menu">
	    	<div class = "wrapper_menu">

	    	   <!-- Quary -->
	    	   <div id = "filter_menu" class="top=position">
	    	   
	    	   <table>
	    	      <tr>
	    	         <th>Time Period</th>
	    	      </tr>

	    	      <tr>
	    	         <td>
	    	            <p>&nbspFrom:&nbsp</p>
	    	         </td>

	    	         <td>
	    	             <input type="text"
	    	                    name="start_date"
	    	                    id="sd"
	    	      	    	    style="text-align: center;width: 90px; color:black; border:none;"
	    	                    value="{{ session['sd'] }}">
	    	         </td>

	    	         <td>
	    	             <input type="text"
	    	                    name="start_time"
	    	                    id="st"
	    	      	    	    style="text-align: center;width: 90px; color:black; border:none;"
	    	                    value="{{ session['st'] }}">

	    	         </td>
	    	      </tr>

	    	      <tr>
	    	         <td>
	    	            <p>&nbsp To &nbsp</p>
	    	         </td>

	    	         <td>
	    	            <input type="text"
	    	      	    	   name="end_date"
	    	      	    	   id="ed"
	    	      	    	   style="text-align: center;width: 90px; color:black; border:none;"
	    	      	    	   value="{{ session['ed'] }}">
	    	         </td>

	    	         <td>
	    	            <input type="text"
	    	                   name="end_time"
	    	                   id="et"
	    	                   style="text-align: center;width: 90px; color:black; border:none;"
	    	                   value="{{ session['et'] }}">
	    	         </td>
	    	      </tr>

	    	      <tr><th>Observation</th></tr>
	    	      <tr>

	    	         <td>
	    	            <p>Wavelength:&nbsp</p>
	    	         </td>

	    	         <td>
	    	            <select class="sunspot"
	    	                    name="sunspot_type"
	    	                    id="sunspot_type"
   	                            style="text-align: center;width: 100px; color:black;">

	    	               {%-if session['sunspot_type'] == 'magnetogram' %}
	    	                  <option value="continuum">Continuum</option>
	    	                  <option value="magnetogram" selected="selected">Magnetogram</option>
	    	               {%-elif session['sunspot_type'] == 'continuum' %}
	    	                  <option value="continuum" selected="selected">Continuum</option>
	    	                  <option value="magnetogram">Magnetogram</option>				
	    	               {%- endif %} 

	    	            </select>
	    	         </td>
	    	      </tr>

	    	      <tr><th>Sorting</th></tr>

	    	      <tr>
	    	         <td>
	    	            <p>Sorted by:&nbsp</p>
	    	         </td>

	    	         <td>
	    	            <select name="order_by"
	    	                    id="c_order_by"
	    	                    style="text-align: center;width: 100px; color:black;">
	    	               {%-for name in session['header_all']%}

	    	                  {%-if name == session['order']%}
	    	                     <option value="{{ name }}" selected="selected"> {{ name }} </option>
	    	                  {%-else%}
	    	                     <option value="{{ name }}"> {{ name }} </option>
	    	                  {%- endif %}

	    	               {%- endfor %}
	    	            </select>
	    	         </td>
	    	      </tr>

	    	      <tr>
	    	         <td>
	    	            <p>Order:&nbsp</p>
	    	         </td>

	    	         <td>
	    	            <select name="order_asc"
	    	                    id="c_order_by"
	    	                    style="text-align: center;width: 100px; color:black;">

	    	               <option value="ASC" selected="selected"> Ascending </option>
	    	               <option value="DESC"> Descending </option>

	    	            </select>
	    	         </td>
	    	      </tr>

	    	      <tr><th>Filtering</th></tr>

	    	      </table>
	    	         <table width="98%">
	    	            {%- for i in range(5,21,2) %}
	    	               <tr>
	    	                  <td class="side_menu_header">
	    	                     {{ session['header_all'][i] }} 
	    	                  </td>
	    	                  
	    	                  <td class="side_menu_checkbox">
	    	                     <input type="checkbox"
	    	                            name="attributes"
	    	                            value="{{ session['header_all'][i] }}"
	    	                            checked="checked" />
	    	                  </td>

	    	                  <td class="side_menu_header">
	    	                     {{ session['header_all'][i + 1] }} 
	    	                  </td>
	    	                  
	    	                  <td class="side_menu_checkbox">
	    	                     <input type="checkbox"
	    	                            name="attributes"
	    	                            value="{{ session['header_all'][i + 1] }}"
	    	                            checked="checked" />
	    	                  </td>
	    	               </tr>
	    	            {%- endfor %}		
	    	         </table>
					
	    	         <table width="96%" style="margin-top: 10px;">

	    	            <tr>

	    	               <td>
	    	                  <button type="button"
	    	                          id="set_button"
	    	                          data-toggle="modal"
	    	                          data-target="#myModal"
	    	                          style="text-align: center; color:black;">Set Values</button>
	    	               </td>

	    	               <td>
	    	                  <button type="button"
	    	                  	  id="selectall_button"
	    	                  	  style="text-align: center; color:black;">Select All</button>	
	    	               </td>
	    	               <td>
	    	                  <button type="button"
	    	                  	  id="clearall_button"
	    	                  	  style="text-align: center; color:black;">Clear All</button>	
	    	               </td>

	    	            </tr>

	    	            <tr>
	    	         </table>

	    	         <table width="96%" style="margin-top: 15px; margin-bottom: 10px;">

	    	            <tr>

	    	               <td>
	    	                  <input type=submit value="Execute" id="execute_button">	
	    	               </td>

	    	            </tr>

	    	         </table>

	    	      </form>
	    	   </div>
    		</div>
	    </div>

	    <div id = "plotting_menu">
    		<!--<div class = "wrapper_menu8888">
    		   <div class = "wrapper_menu_3888">-->
    		      <form method="post">
    		         <table name="test" id="test">

    		            <tr><a id="create_plot"></a><th>Create Plot &nbsp</th></a></tr>
    		            <tr>

    		               <td> Plot Type: </td>
    		               <td>
    		                  <select name="plot_type"
    		                          id="plot_type"
    		                          onchange="change_plot_type();">

    		                     <option value="none">Please Select</option>
    		                     <option value="histogram">Histogram</option>
    		                     <option value="biv_hist">Bivariate Histogram</option>
    		                     <option value="line">Line plot</option>
    		                     <option value="scatter_2d">Scatter Plot</option>
    		                  </select>
    		               </td>

    		            </tr>

    		            <tr class="plot_menu histogram_plot">

    		               <th>Properties: &nbsp</th>

    		            </tr>

    		            <tr class="plot_menu histogram_plot">

    		               <td> Values: </td>
    		               <td>
    		                  <select name="v">
    		                     <option value=None> None </option>
    		                     {%-for name in hist_plot_options%}
    		                        {%-if name == v%}
    		                           <option value="{{ name }}" selected="selected"> {{ name }} </option>
    		                        {%-else%}
    		                           <option value="{{ name }}"> {{ name }} </option>
    		                        {%- endif %}
    		                     {%- endfor %}
    		                  </select>
    		               </td>

    		            </tr>

    		            <tr class="plot_menu histogram_plot">

    		               <td> Normed: </td>
    		               <td>
    		                  <select name="histogram_den">
    		                     <option value=yes> Yes </option>
    		                     <option value=no> No </option>
    		                  </select>
    		               </td>	

    		            </tr>

    		            <tr class="plot_menu histogram_plot">

    		               <td> Fit Distribution: </td>
    		               <td>
    		                  <select name="histogram_fit">
    		                     <option value=None> None </option>
    		                     <option value=Normal> Normal </option>
    		                     <option value=Gamma> Gamma </option>
    		                     <option value=Beta> Beta </option>
    		                  </select>
    		               </td>	
    		            </tr>

    		            <tr class="plot_menu histogram_plot">

    		               <td> Color: </td>
    		               <td>
    		                  <select name="histogram_col">
    		                     <option value=#022440> Blue </option>
    		                     <option value=black> Black </option>
    		                     <option value=darkred> Red </option>
    		                     <option value=gold> Yellow </option>
    		                     <option value=green> Green </option>
    		                  </select>
    		               </td>
	
    		            </tr>

    		            <tr class="plot_menu histogram_plot">

    		               <td> Bin number: </td>
    		               <td>
    		                  <input name="histogram_bin"
    		                         type="number"
    		                         value="20">
    		               </td>	
    		            </tr>

    		            <tr class="plot_menu biv_histogram_plot">

    		               <th>Properties: &nbsp</th>

    		            </tr>

    		            <tr class="plot_menu biv_histogram_plot">

    		               <td> Values 1: </td>
    		               <td>
    		                  <select name="biv_v">

    		                     <option value=None> None </option>
    		                     {%-for name in hist_plot_options%}

    		                        {%-if name == v%}
    		                           <option value="{{ name }}" selected="selected"> {{ name }} </option>
    		                        {%-else%}
    		                           <option value="{{ name }}"> {{ name }} </option>
    		                        {%- endif %}

    		                     {%- endfor %}
    		                  </select>
    		               </td>

    		            </tr>

    		            <tr class="plot_menu biv_histogram_plot">

    		               <td> Values 2: </td>
    		               <td>
    		                  <select name="biv_w">

    		                     <option value=None> None </option>

    		                     {%-for name in hist_plot_options%}
  
    		                        {%-if name == v%}
    		                           <option value="{{ name }}" selected="selected"> {{ name }} </option>
    		                        {%-else%}
    		                           <option value="{{ name }}"> {{ name }} </option>
    		                        {%- endif %}

    		                     {%- endfor %}
    		                  </select>
    		               </td>

    		            </tr>

    		            <tr class="plot_menu biv_histogram_plot">

    		               <td> Bin Size: </td>
    		               <td>
    		                  <input name="biv_w_bin"
    		                         type="number"
    		                         value="20">
    		               </td>
	
    		            </tr>

    		            <tr class="plot_menu line_plot">

    		               <th>Properties: &nbsp</th>

    		            </tr>

    		            <tr class="plot_menu line_plot">

    		               <td> X-axis: </td>
    		               <td>
    		                  <select name="xl">
    		                     <option value=None> None </option>
    		                     {%-for name in general_plot_options%}

    		                        {%-if name == xl%}
    		                           <option value="{{ name }}" selected="selected"> {{ name }} </option>
    		                        {%-else%}
    		                           <option value="{{ name }}"> {{ name }} </option>
    		                        {%- endif %}

    		                     {%- endfor %}
    		                  </select>
    		               </td>

    		            </tr>

    		            <tr class="plot_menu line_plot">

    		               <td> Y-axis: </td>
    		               <td>
    		                  <select name="yl">
    		                     <option value=None> None </option>
    		                     {%-for name in general_plot_options%}

    		                        {%-if name == yl%}
    		                           <option value="{{ name }}" selected="selected"> {{ name }} </option>
    		                        {%-else%}
    		                           <option value="{{ name }}"> {{ name }} </option>
    		                        {%- endif %}

    		                     {%- endfor %}
    		                  </select>
    		               </td>	

    		            </tr>

    		            <tr class="plot_menu line_plot">

    		               <td> Color: </td>
    		               <td>
    		                  <select name="line_col">
    		                     <option value=#022440> Blue </option>
    		                     <option value=black> Black </option>
    		                     <option value=darkred> Red </option>
    		                     <option value=gold> Yellow </option>
    		                     <option value=green> Green </option>
    		                  </select>
    		               </td>
	
    		            </tr>

    		            <tr class="plot_menu scatter_2d_plot">

    		               <th>Properties: &nbsp</th>

    		            </tr>

    		            <tr class="plot_menu scatter_2d_plot">

    		               <td> X-axis: </td>
    		               <td>
    		                  <select name="x">
    		                     <option value=None> None </option>

    		                     {%-for name in general_plot_options%}
    		                        {%-if name == x%}
    		                           <option value="{{ name }}" selected="selected"> {{ name }} </option>
    		                        {%-else%}
    		                           <option value="{{ name }}"> {{ name }} </option>
    		                        {%- endif %}

    		                     {%- endfor %}
    		                  </select>
    		               </td>

    		            </tr>

    		            <tr class="plot_menu scatter_2d_plot">

    		               <td> Y-axis: </td>
    		               <td>
    		                  <select name="y">
    		                     <option value=None> None </option>

    		                     {%-for name in general_plot_options%}
    		                        {%-if name == y%}
    		                           <option value="{{ name }}" selected="selected"> {{ name }} </option>
    		                        {%-else%}
    		                           <option value="{{ name }}"> {{ name }} </option>
    		                        {%- endif %}

    		                     {%- endfor %}
    		                  </select>
    		               </td>	

    		            </tr>

    		            <tr class="plot_menu scatter_2d_plot">

    		               <td> Color: </td>
    		               <td>
    		                  <select name="c">
    		                     <option value=#022440> Blue </option>
    		                     <option value=black> Black </option>
    		                     <option value=darkred> Red </option>
    		                     <option value=gold> Yellow </option>
    		                     <option value=green> Green </option>
    		                  </select>
    		               </td>	
    		            </tr>		

    		            <tr class="plot_menu scatter_2d_plot">

    		               <td> Marker Size: </td>
    		               <td>
    		                  <select name="s">
    		                     <option value=None> None </option>
                                     <option value=None> 10 </option>
                                     <option value=None> 15 </option>
                                     <option value=None> 20 </option>
                                     <option value=None> 25 </option>
                                     <option value=None> 30 </option>
    		                  </select>
    		               </td>	

    		            </tr>	
    		            
    		         </table>

	    	         <table>

	    	            <tr>

	    	               <td>
	    	                  <input type=submit value="Execute" id="execute_button">	
	    	               </td>

	    	            </tr>

	    	         </table>

    		      </form>
    		   <!--</div>
    		</div>-->
             </div>

             {%- for num in range(session['list_length']) %}
                <div style="position: relative;
                           top: {{ session['position_top'][num] }}px;
                           left: {{ session['position_left'][num] }}px;"> {{ div_frame_list[num]|safe }}
                </div>
             {%- endfor %}

             <div class="draggable_window z-position" id="wrapper_image">
                <div class="windowBar" id = "wrapper_image_windowBar">
                   <div class="control_buttons close_button" id="wrapper_image_close_button"></div>
                   <div class="control_buttons minimum_button" id="wrapper_image_minimum_button"></div>
                   <div class="windowTitle">
                      <p>AR</p>
                   </div>
                   <div class="Full_disk" id="AR_button">
                      <div class="full_button"></div>
                         Extrapolation
                   </div>
	    	</div>

	    	<div id="AR_plot">
	    	   {{ att_visual.visual_div|safe }}
	    	</div>
             </div>

             {{ att_visual.visual_script|safe }}

             <div class="draggable_window z-position" id="wrapper_image2">
    		<div class="windowBar" id = "wrapper_image_windowBar">
                   <div class="control_buttons close_button" id="wrapper_image_close_button2"></div>
                   <div class="control_buttons minimum_button" id="wrapper_image_minimum_button2"></div>
                   <div class="windowTitle">
                      <p>Full Disk</p>
                   </div>
                   <div class="Full_disk" id="Full_Disk_button">
                      <div class="full_button"></div>
                         Full screen
                   </div>
	    	</div>

	    	<div id="AR_plot">
                   {{ att_visual.visual_div_full|safe }}
	    	</div>
             </div>

             {{ att_visual.visual_script_full|safe }}

             <div class="draggable_window z-position" id="wrapper_table_block">
                <!-- control button -->

                <div class="windowBar" id = "wrapper_table_windowBar">
                   <div class="control_buttons close_button" id="wrapper_table_close_button"></div>
                   <div class="control_buttons minimum_button" id="wrapper_table_minimum_button"></div>
                   <div class="windowTitle">
                      <p>Data Table</p>
                   </div>
	    	</div>

                <div id="wrapper_table_info">
                   <div id = "wrapper_table">						
                      <table>
                         <thead>
                            <tr>

                               {%-for name in header%}
                                  <th> {{ name }} </th>
                               {%- endfor %}

                            </tr>
                         </thead>

                         <tbody>

                            {%-for row in range(session['rows'])%}
                               <tr>
                                  {%- for col in range(session['columns']) %}

                                     {%- if col == 4 %}
                                        <form method="post">
                                           <td>
                                              <button name="AR_ID" type="submit" value={{row}}>

                                                 {%- if row == session['ARID'] %}
                                                    <div id="selected_row">
                                                       {{table[row][col]}}
                                                    </div>
                                                 {%- else %}
                                                    <div id="buttom_color">
                                                       {{table[row][col]}}
                                                    </div>	
                                                 {%- endif %}

                                              </button>
                                           </td>
                                        </form>
                                     
                                     {%- else %}
                                        <td>

                                           {%- if row == session['ARID'] %}
                                              <div id="selected_row">
                                                 {{ table[row][col] }}
                                              </div>
                                           {%- else %}
                                              <div id="unselected_row">
                                                 {{ table[row][col] }}
                                              </div>
                                           {%- endif %}

                                        </td>
                                     {%- endif %}

                                  {%- endfor %}
                               </tr>

                            {% endfor %}
                         </tbody>
                      </table>
                   </div>
		</div>
	     </div>

	     <div id="message_log">
    		<div id="message_log_bar"></div>
    		<h3>Message Log</h3>

    		<!-- SQLite query info -->	
	    	<div class="message_log_messages">
	    	   <div style="color: white;">

	    	      <strong>Query information</strong><br>
	    	      <p>Number of rows: {{ info[0] }}</p> 
	    	      <p>Number of columns: {{ info[1] }}</p> 
	    	      <p>Number of active regions: {{ info[2] }}</p> 
	    	      <p>Timespan: {{ info[3] }}</p> 
	    	   </div>
	    	</div>
                <div class="message_log_messages">
	    	   <div style="color: white; margin-left:50px; overflow: auto; height: 100%">
	    	         {{ log|safe }}
	    	   </div>

                </div>
	     </div>

	     <div id="fixedWindowBar">
	        <div class ="window1" id="a">
	           <p>Active Region</p>
	        </div>

	        <div class ="window1" id="b">
	           <p>Data Table</p>
	        </div>

	        <div class ="window1" id="c">
	           <p>Full Disk</p>
	        </div>
 
	        {%- for div_minimize_block in div_minimize_block_list %}
	           {{ div_minimize_block|safe }}
	        {%- endfor %}

	     </div>

	     {%- for bokeh_script in bokeh_script_list %}
	        {{ bokeh_script|safe }}
	     {%- endfor %}

	  </div>
   </body>

   <script>
   laydate.render({
		   elem: '#sd'
		   ,lang: 'en' });

		   laydate.render({
		   elem: '#ed'
		   ,lang: 'en'});

		   laydate.render({ 
		   elem: '#st'
		   ,lang:'en'
		   ,type: 'time'});

		   laydate.render({
		   elem: '#et'
		   ,lang:'en'
		   ,type: 'time'});
   </script>

   <script>
      $(function(){
         if ({{session['block_status'][0]}}==1) {

            $('#database_button').addClass('menu-open');
            $('#side_menu').css('left','0');
            $('#statistics_button').addClass('table-close');
            $('#wrapper_table_block').css('bottom','0');

         });
   </script>


   <script>
      $(function(){
         if ({{session['block_status'][0]}}==1) {

            $('#plot_button').addClass('plot-open');
            $('#plotting_menu').css('left','0');
            $('#statistics_button').addClass('table-close');
            $('#wrapper_table_block').css('bottom','0');

         });
   </script>

   <script>
      $(function(){
         if ("{{session['error_message']}}" == '') {
            $("#message_log").css("right","-230px");
            $("#message_log_bar").addClass('table-close');}

         if ("{{session['error_message']}}" != '') {
            $("#message_log").css("top","50px");
            $("#message_log_bar").removeClass('table-close');}

      });



   </script>

   <script type="text/javascript">
      window.appConfig = {
         Full_disk: '{{ Full_disk_title }}',
         AR: '{{ AR_title }}'
      }
   </script>

</html>
