
 .wy-nav-side
    {
        position: fixed;
        background: #001f3b;
        z-index: 200;
    }

.section
    {
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        font-weight: 300;
        font-size: 14px;
    }

.wy-side-nav-search
    {
         background-color: #001f3b;
    }

 .wy-menu-vertical .caption-text
    {
        color : #f0f0f0;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        font-weight: 300;
        font-size: 14px;
    }

.wy-menu-vertical a
    {
        color : #f0f0f0;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        font-weight: 300;
        font-size: 14px;

    }

html, body, h1, h2, h3, h4, h5, h6
    {
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        font-weight: 300;
        color : black;
        background-color: #f0f0f0;
    }
 



